/** 
    FONT SIZES 
*/

/* PX */

.font-size-no,
.font-size-zero {
    font-size: 0px;
}

.font-size-xs {
    font-size: 6px;
}

.font-size-xss {
    font-size: 8px;
}

.font-size-s {
    font-size: 10px;
}

.font-size-ss {
    font-size: 12px;
}

.font-size-m {
    font-size: 14px;
}

.font-size-mm {
    font-size: 16px;
}

.font-size-l {
    font-size: 18px;
}

.font-size-ll {
    font-size: 20px;
}

.font-size-xl {
    font-size: 24px;
}

.font-size-xxl {
    font-size: 30px;
}

/* 
	EM 
	'qt' stands for quarter (quarter of an 'em')
	Change the font-size on a parent to make children scale
*/

/* By Default: 4; */

.font-size-qt {
    font-size: .25em;
}

/* By Default: 8; */

.font-size-half {
    font-size: .5em;
}

/* By Default: 10; */

.font-size-625 {
    font-size: .625em;
}

/* By Default: 11; */

.font-size-7em {
    font-size: .7em;
}

/* By Default: 12; */

.font-size-3qt {
    font-size: .75em;
}

/* By Default:  */

.font-size-8em {
    font-size: .8em;
}

/* By Default: 14; */

.font-size-875 {
    font-size: .875em;
}

/* By Default: 16; */

.font-size-one {
    font-size: 1em;
}

/* By Default: 18; */

.font-size-125 {
    font-size: 1.125em;
}

/* By Default: 20; */

.font-size-5qt {
    font-size: 1.25em;
}

/* By Default: 22; */

.font-size-6qt {
    font-size: 1.5em;
}

/* By Default: 24; */

.font-size-7qt {
    font-size: 1.75em;
}

/* By Default: 26; */

.font-size-double {
    font-size: 2em;
}

/* By Default: 28; */

.font-size-9qt {
    font-size: 2.25em;
}

/* By Default: 30; */

.font-size-10qt {
    font-size: 2.5em;
}

/* By Default: 32; */

.font-size-11qt {
    font-size: 2.75em;
}

/* By Default: 48; */

.font-size-triple {
    font-size: 3em;
}

/*
    Button Styles
*/
.btn-collapse {
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-collapse:focus {
    outline: 0;
}

.btn-collapse .icon-open {
    display: none;
}

.btn-collapse .icon-closed {
    display: block;
}

.btn-collapse.collapsed .icon-open {
    display: block;
}

.btn-collapse.collapsed .icon-closed {
    display: none;
}

.border-3 {
    border-width: 3px !important;
}

.btn-collapse-2 {
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-collapse-2:focus {
    outline: 0;
}

.btn-collapse-2 .icon-open {
    display: block;
}

.btn-collapse-2 .icon-closed {
    display: none;
}

.btn-collapse-2.collapsed .icon-open {
    display: none;
}

.btn-collapse-2.collapsed .icon-closed {
    display: block;
}


/*
    Icon Link
*/

.link-icon {
    text-decoration: none !important;
    transition: color .25s linear;
    /* Matches Brand Grey */
    color: #797a7d;
}

.link-icon i {
    display: block;
}

.link-icon.active {
    /* Matches Brand Orange - Tangerine */
    color: #e68f1a;
}

.link-icon:hover {
    color: #e68f1a;
}